<ul>
  <h2 class="uber-section">Uber</h2>
  <li *ngFor="let order of uberOrders">
    Price: {{order.price}}
    <br>
    Location: {{order.name}}
    <br>
    <br>
  </li>
  <br>
  <h2 class="doordash-section">DoorDash</h2>
  <li *ngFor="let order of doordashOrders">
    Price: {{order.price}}
    <br>
    Location: {{order.name}}
    <br>
    <br>
  </li>
  <br>
  <h2 class="grubhub-section">GrubHub</h2>
  <li *ngFor="let order of grubhubOrders">
    Price: {{order.price}}
    <br>
    Location: {{order.name}}
    <br>
    <br>
  </li>
</ul>
